/* 全体のフォントと背景色を設定 */
body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #212121;
    margin: 0;
    padding: 20px;
}

/* タイトルのスタイルを設定 */
h1 {
    color: #FFFFFF;
    font-size: 2.5rem;
}

/* テキストのスタイルを設定 */
p {
    font-size: 1.1rem;
    color: #BDBDBD;
    line-height: 1.5;
}

/* ボタンのスタイルを設定 */
button {
    background-color: #307fe0; /* ボタンの背景色を明るい緑に変更 */
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px #0000001a;
}

/* ホバー時のボタンスタイルを設定 */
button:hover {
    background-color: #9f35e6; /* ホバー時のボタンの背景色を濃い緑に変更 */
}

/* proofResult のスタイルを設定 */
/* proofResult のスタイルを設定 */
#proofResult {
    background-color: #333333; /* コンテナの背景色と同じに変更 */
    padding: 10px;
    cursor: pointer;
    white-space: pre-wrap;
    border-radius: 5px;
}


/* 検証結果のスタイルを設定 */
#verificationResult {
    font-weight: bold;
    font-size: 1.2rem;
    color: #FFFFFF;
}

/* 入力欄のスタイル */
.input-fields input {
    width: 60px;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.input-fields input:focus {
    border-color: #616161;
}

.input-fields label {
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 10px;
    color: #FFFFFF;
}

.operator {
    font-size: 1.5rem;
    margin: 0 10px;
    color: #FFFFFF;
}

.result {
    font-size: 1.5rem;
    margin-left: 10px;
    color: #FFFFFF;
}

input[type="number"] {
    font-size: 1.2rem;
    width: 60px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #333333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

div {
    margin-bottom: 1em;
}

